<!DOCTYPE html>
<html>

<head>
  <title>Sign Up | PolyRents: Off-campus housing, simplified</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="../assets/css/polyrents.css"/>
  <link rel="stylesheet" type="text/css" href="../assets/css/polyrents-signup.css"/>
</head>

<body>
  <div id="signup"></div>
  <script src="../assets/js/polyrents.js"></script>
  <script src="../build/polyrents-signup.min.js"></script>
</body>

</html>
